.Menu {

    width: 150px;
    /*height: 100px;*/
    visibility: hidden;
    -webkit-box-shadow: -2px 2px 4px 2px rgba(100, 100, 100, 1);
    background: #F6F6F6;
    position: fixed;
    right: 0px;
    top:42px;
    border-right: 1px solid grey;
    font: 300 14px/15px Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 white;
    color: #666;
    z-index: 1000;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.Menu li {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F9F9F9), color-stop(100%, #EBEDEE));
    border-top: 1px solid white;
    border-bottom: 1px solid #C5C5C5;
    padding: 7px 5px 7px 0;
}

.Menu li:active
{
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
    border-top: 1px solid white;
    border-bottom: 1px solid #C5C5C5;
    padding: 7px 5px 7px 0;
}

.Menu a
{
    display: block;
    text-transform: uppercase;
    color: #333;
}
.menu_home
{
    background: url(../img/menu_icon_home.png) no-repeat 5% 50%;
    background-size:23px;
    padding:5px 0px 5px 40px;
}
.menu_home:active,.menu_home_active
{ background: url(../img/menu_icon_home_p.png) no-repeat 5% 50%;
    background-size:23px;
    padding:5px 0px 5px 40px;
}
.menu_monitors
{
    background: url(../img/menu_icon_monitors.png) no-repeat 5% 50%;
    background-size:26px;
    padding:5px 0px 5px 40px;
}
.menu_monitors:active,.menu_monitors_active
{
    background: url(../img/menu_icon_monitors_p.png) no-repeat 5% 50%;
    background-size:26px;
    padding:5px 0px 5px 40px;
}

.menu_search
{
    background: url(../img/menu_icon_search.png) no-repeat 5% 50%;
    background-size:20px;
    padding:5px 0px 5px 40px;
}
.menu_search:active,.menu_search_active
{
    background: url(../img/menu_icon_search_p.png) no-repeat 5% 50%;
    background-size:20px;
    padding:5px 0px 5px 40px;
}

.menu_bookmark
{
    background: url(../img/menu_icon_bookmark.png) no-repeat 7% 50%;
    background-size:16px;
    padding:5px 0px 5px 40px;
}
.menu_bookmark:active, .menu_bookmark_active
{
    background: url(../img/menu_icon_bookmark_p.png) no-repeat 7% 50%;
    background-size:16px;
    padding:5px 0px 5px 40px;
}
.menu_account
{
    background: url(../img/menu_icon_account-v2.png) no-repeat 5% 50%;
    background-size:24px;
    padding:5px 0px 5px 40px;
}
.menu_account:active, .menu_account_active
{
    background: url(../img/menu_icon_account-v2-p.png) no-repeat 5% 50%;
    background-size:24px;
    padding:5px 0px 5px 40px;
}
