@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #DDDDDD;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Menu [HEADER]*/
#menu {
    top: 42px;
    width: 150px;
    height: 100%;
    position: absolute;
    left: 0px;
    background: #fff;
    visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -webkit-transform-origin-x: 0px;
    -webkit-transform-origin-y: 0px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-duration: 0ms;
}

#landingPage {
    /*border: 2px solid red;*/
    /*position: absolute;*/
    /*left: 300px;*/
}

#openMenu {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
}

.menuItems {
    padding: 10px 0 0 2px;
    border-bottom: 1px solid #efefef;
}

/* shared elements */

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

li {
    margin-left: 0px;
}

a {
    text-decoration: none;
}

input::-webkit-input-placeholder {
    color: #000;
}

.customheader {
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
    border-bottom: 1px solid #000;
    /*opacity: 0.95;*/
    font-size: 17px;
    /*font-weight: bold;*/
    position: fixed;
    z-index: 100;
    width: 100%;
    color: #fff;
    height: 40px;
}

.headerName {
    margin-top: 6px;
    text-align: center;
}

.landingPageContentArea {
    padding: 0px;
    margin: 0;
    -webkit-box-shadow: 0px 4px 5px #999;
}

.inputBox-class {
    border: 0px;
    padding: 8px;
    width: 93%;
    font-size: 16px;
    -webkit-appearance: none;
    color: #000;
}

.splashHeader h1 {
    display: block;
    position: relative;
    text-indent: -9999px;
    padding: 0;
    margin: 15px auto 0;
    background: url(../img/fr-logo.png) no-repeat top left;
    width: 200px;
    height: 58px;
    background-size: 200px 58px;
}

.showAllMonitorsButton {
    margin: 4px 3px 0px 0px;
    /*margin: 40px auto 0px;*/
    width: 100px;
    height: 15px;
    float: right;
    /*padding: 20px;*/
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #00509b;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#009fd1), to(#00509b));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.showAllMonitorsButton.glowing {
    color: #FFFFFF !important;
    text-shadow: 0px 1px 1px #000000;
    -webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.5);
    background-color: #00509b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#535353));
}

.buttonRegular, .modalboxCloseButton {
    margin: auto;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    text-shadow: none;
    border: none;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#C9C9C9));
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}

.buttonRegular:active {
    color: #FFFFFF !important;
    text-shadow: none;
    -webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.5);
    border: none;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#535353));
    -webkit-appearance: none;
}

.modalboxCloseButton {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #274495), color-stop(100%, #274495));
}

.homeLinks {
    color: #666 !important;
    text-shadow: none;
    text-align: center;
    margin: 0 auto;
    padding: 8px;
    font-size: 14px;
    font-weight: normal;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#C9C9C9));
    border: none;
    -webkit-border-radius: 5px;
    width: 80%;
}

.homeLinks:active {
    color: #FFFFFF !important;
    text-shadow: none;
    -webkit-box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.5);
    border: none;
    -webkit-border-radius: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#535353));
    -webkit-appearance: none;
}

.screenSubHeader,
.resultSubHeader,
.detailsHeader {
    padding: 3px 5px;
    margin: 0;
    font-size: 12px;
    text-shadow: none;
    color: #FFF;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#125790), to(#203f5e));
    border-bottom: 2px solid #030045;
}

.oneOpHeader,
.oneSliceHeader,
.accountFormHeader {
    padding: 3px 5px;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    color: #444444;
    text-shadow: none;
    font-weight: bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
    border-bottom: 1px solid #AAAAAA;
    -webkit-border-radius: 5px 5px 0 0;
}

.header_bt {
    color: white;
    line-height: 34px;
    font-weight: bold;
    font-size: 14px;
    background: -webkit-gradient(linear, left 63, left top, color-stop(0.7, #3e444d), color-stop(0.75, #656a70));
    opacity: .95;
    height: 34px;
    -webkit-border-radius: 5px;
    border: none;
}

.header_bt:active {
    opacity: .5;
    /*background:-webkit-gradient(linear,left 63,left top,color-stop(0.7, #656a70),color-stop(0.75,  #3e444d));*/
}

/*
Landing Page
*/
#docSummary {
    height: 10px;
    overflow: hidden;
}

/*Back Button*/
.custom-button {
    background: url('../images/back-btn-up.png') no-repeat;
    background-size: 61px 30px;
    width: 61px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 6px 0 0 5px;
    font-weight: 600;
}

.custom-button:active {
    background: url('../images/back-btn-down.png') no-repeat;
}

/*Loading Messages*/
.loadingProgressMessage {
    margin: 10px 0px 0px 130px;
}

/*Test Area*/
#testDiv {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    background: #efefef;
}

/*Header Area*/
.marginFromHeader {
    margin: 35px 0px 0px 0px;
}