

  .follow_item_tweet:active{
    background:  -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#C9C9C9));
  }
   
   .screenHeader
   {
    display: block;
    width: 50%;
    background-color: #CCCCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
    border-bottom:1px solid #8f8f8f;
    padding: 5px 25%;
    margin-bottom:10px;
    
    
   }
   .header_btn
   {
   
      margin:0px;
      padding: 10px;
      display: block; 
      width: 100%;
      position: relative;
      cursor: pointer;
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0px 2px 0px #666;
      border:none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#01ABE3), to(#00759c));
      box-shadow: 0 1px 0px rgba(0,0,0,0.4);
      -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.4);
   }  
   
    .header_btn:active
    {
      color: #FFFFFF!important;
      text-shadow: 0px 1px 1px #000000;
      background-color:#8A8A8A;
      background-image: -moz-linear-gradient(-90deg, #8a8a8a, #535353);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#535353));
      background:black;
     }
   .selected_item_title
   {
     text-shadow: 0px 1px 1px #ffffff;
     font: 300 13px/14px Arial,Helvetica,sans-serif;
     color:#666;
     
   }
   .bg_tweet 
   {
      padding: 3px 5px;
      font-size: 12px;
      line-height: 12px;
      color:#FFF;
      font-weight: bold;
      background-image: -moz-linear-gradient(-90deg, #01ABE3, #00759c);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#01ABE3), to(#00759c));
      border-bottom:1px solid #04536D;
      position: relative;
      margin-top:10px;
   }
   .follow_item_tweet
   {
      background: #FFFFFF;
      background-image: -moz-linear-gradient(-90deg, #F7F7F7, #FFFFFF);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#FFFFFF));
      display: block;
      font-size: 14px;
      font-weight: bold;
      margin: 0 0 -1px;
      padding: 15px 10px;
   }
   .tweet_logo
   {
     float:right;
   }
   .outer
    {
      background-color:#FFF;
      border:none;
      -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
      position:relative;
      width:100%;
    }
    .tweet_id
    {
     color:#369;
    }
    .tweet_url
    {
    color:#666;
    }
    .tweet_img
    {
      float: right;
      margin:0px 0px 10px 10px;
      box-shadow: 1px 1px 3px #888;
      
    }
    .source_id
    {
      color: #369;
      font-weight: 400;
      font-size: 13px;
      
    }
    .date 
    {
        color: #666;
        float: right;
        font-size: 13px;
        font-weight:500;
    }
    .seemore
    { 
        padding: 25px 6%;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(white));
        width:88%;
        float: left;    
     }
   
   
    .bg_green 
    {
      padding: 3px 2%;
      font-size: 12px;
      line-height: 12px;
      color:#FFF;
      font-weight: bold;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#04A302), to(#026701));
      border-bottom:1px solid #014500;
        margin-top:10px;
        float:left;
        width:96%;
    }
    .company_name
    {
     color:#cd660b;
     font: 600 13px/14px Arial,Helvetica,sans-serif;
    }
   .followitem 
   {
      background: #FFFFFF;
      background: url(img/r-icon_carrot.png) no-repeat 96% 50%, -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#FFFFFF));
      background-size: 8px 14px, 100%;
      display: block;
     
      font: 200 13px/14px Arial,Helvetica,sans-serif;
      margin: 0 0 -1px;
      padding: 15px 25px 15px 10px;
   }
   .followitem:active{
   background:#ddd;
   }
   
   
   
   
   
   
  .news_item 
  {
     
      background: url(imgs/r-icon_carrot.png) no-repeat 98% 50%, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E7E7E7), color-stop(100%, #FEFEFE));
      background-size: 12px,100%;
      font: 600 13px/14px Arial,Helvetica,sans-serif;
      padding: 18px 37px 18px 10px;
  }
  .firstread_current_news
  {
  -webkit-box-shadow: 1px 1px 2px 1px #888;
   padding:10px;
   margin-bottom:10px;
  }
  .firstread_current_news p
  {
   margin:0px;
  }
  .cb5
  { clear:both;
    margin:5px !important;
  }
  .Recently_Active_container
  {
    -webkit-box-shadow: 1px 1px 2px 1px #888;
     margin-bottom:10px;
  }
  .bg_grey {
    padding: 3px 5px;
	margin: 0;
	font-size: 12px;
	line-height: 12px;
	color:#FFF;
	font-weight: bold;
	background-image: -moz-linear-gradient(-90deg, #989898, #5C5C5C);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#5C5C5C));
	border-bottom:1px solid #343434;
}


.detailsTeaser {
	height:180px;
	padding: 0;
	margin: 10px;
	background-color:#FFF;
	border:none;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.3);
	z-index:2;
	position:relative;
}


.bg_red{
	padding: 3px 5px;
	font-size: 12px;
	line-height: 12px;
	color:#FFF;
	font-weight: bold;
	background-image: -moz-linear-gradient(-90deg, #d30000, #7e0000);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d30000), to(#7e0000));
	border-bottom:1px solid #0450000;	
}



.leftButton,
.rightButton,
.buttonRegular {
	margin:0px;
	padding: 10px;
	display: block; 
	width: 100%;
	position: relative;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #666666;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	border:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: -moz-linear-gradient(-90deg, #FBFBFB, #C9C9C9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#C9C9C9));
	box-shadow: 0 1px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.4);
}
