div.liDiv {
    border: 1px solid red;
    width: 318px;
    height: 150px;
}

.title {
    border: 1px solid blue;
    width: 250px;
    height: 120px;
}

.source {
    border: 1px solid green;
    width: 200px;
    height: 28px;
}

.date {
    border: 1px solid #000000;
    width: 120px;
    height: 28px;
    float: right;
}

.image {
    border: 1px solid #000000;
    width: 65px;
    height: 80px;
    float: right;
}
